
.container {
    background-color: #E5E5E5; 
    min-height: 580px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 100 0;
    ol {
        text-align: left;
        font-size: 24px;

        li {
            margin-top: 10px;
        }
    }
}