<div [routerLink]="['/']">
    <img src="../../assets/images/17-177196_png-file-svg-ios-back-arrow-png.png" alt="back arrow" style="width:16px;height:16px" />
</div>
<div class="container">
    <h1>In the real app, the user takes a photo</h1>
    <h2>In our demo, choose a recyclable:</h2>
    <ol>
        <li [routerLink]="['/popcan']">Diet Pop Can</li>
        <li [routerLink]="['/yogurt']">
            Yogurt Container
        </li>
        <li [routerLink]="['/pizzabox']">Pizza Box</li>
    </ol>
</div>

