
.container {
    background-color: #0F0C4C;
    color: #FFFFFF;
    min-height: 580px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin: 100 0;
    ol {
        text-align: left;
        font-size: 24px;

        li {
            margin-top: 10px;
        }
    }
}