<div class="container">
    <div [routerLink]="['/tempmenu']">
        <img src="../../assets/images/17-177196_png-file-svg-ios-back-arrow-png.png" alt="back arrow" style="width:16px;height:16px" />
    </div>
    <div class="photo-container">
        <img src="../../assets/images/diet-soda.jpg">
    </div>
    <div class="buttons">Popcan <div class="tabs" id="dropoff" style="background-color: #0F0C4C;">Drop Off</div><div class="tabs" style="background-color: #46D07D;">Recycle</div></div>
    <div class="protip">
        <h3>POP TIP</h3>
        <p>Recycle this at the curb or take to a recycling center. Aluminum is a highly valuable materials and can be reused repeatedly.</p>
    </div>
    <div class="recycle-site"></div>
</div>
