.container {
    font-family: 'Poppins', sans-serif;
    padding: 10px;

    .photo-container {
        img {
            max-width: 350px;
        }
    }
    
    .buttons {
        font-size: 21px;
        display: flex;
        align-items: center;
    
        .tabs {
            padding-top: 5px;
            text-align: center;
            text-transform: uppercase;
            font-size: 10px;
            width: 75px;
            height: 21px;
            margin-left: 10px;
            border-radius: 4px;
            background-color: pink;
            color: white;
        }
    }
    
    .protip {
        max-width: 350px;
        color: #0F0C4C;
        padding: 5px;
        border-radius: 6px;
        h3 {
            font-size: 12px;
        }
        p {
            font-size: 12px;
        }
    }
}

