<div class="container">
    <div [routerLink]="['/tempmenu']">
        <img src="../../assets/images/17-177196_png-file-svg-ios-back-arrow-png.png" alt="back arrow" style="width:16px;height:16px" />
    </div>
    <div class="photo-container">
        <img src="../../assets/images/diet-soda.jpg">
    </div>
    <div class="buttons">Popcan <button>Drop-Off</button><button>Recycle</button></div>
    <div class="protip">
        <h3>POPCAN PRO-TIP</h3>
        <p>You can put this in the recycle bin! Make sure you rinse it clean and dry it before tossing it in the can. Aluminum is a highly valuable material and can be reused multiple times.</p>
    </div>
    <div class="recycle-site"></div>
</div>
