
<div class="container">
    <div [routerLink]="['/tempmenu']">
        <img src="../../assets/images/17-177196_png-file-svg-ios-back-arrow-png.png" alt="back arrow" style="width:16px;height:16px" />
    </div>
    <div class="photo-container">
        <img src="../../assets/images/ecaf0dac939d53b6e004d7184106363d.jpg">
    </div>
    <div class="buttons">Yogurt Container <button>Drop Off</button></div>
    <div class="protip">
        <h3>POP TIP</h3>
        <p>Protohaven upcycles containers to make plastic for 3D printing.</p>
        <p>You can help by making sure the plastic is clean and dry!</p>
    </div>
    <div class="recycle-site"></div>
</div>

